/*Genearli*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body*/

body{
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.border{
    border: 1px solid grey;
}

span{

    margin-top:20px;
}

.contenitore{
    margin: 0 auto;

}

/*Regole di Margine*/

.margin_top{
    margin-top: 20px;
}

.margin_top_max{
    margin-top: 40px;
}

.margin_top_cento{
    margin-top: 200px;
}

.margin_bottom{
    margin-bottom: 120px;
}

/*Regole hr*/

hr{
    width:25%;
    margin: 50px 20px;
}

footer hr{
    margin: 50px 0px;
}

.list_footer hr{
    width: 60%;
}

/* Regole Titoli*/

h1{
    font-weight: 900;
    font-size: 54px;
}

h2{
    font-size: 30px;
}

h3{
    margin-bottom: 20px;
}

/* Regole testo */

.text_black{
    color: black;
}

.text_white{
    color: white;
}

.text_grey{
    margin-top: 10px;
    font-size: 14px;
    color: grey;
}

/*Regole link*/

a{
    margin-right: 20px;
    cursor: pointer;
}


.a_white{
    color: white;
    text-decoration: none;
}

.a_black{
    color: black;
    text-decoration: none;
}

.a_black:hover{;
    text-underline-offset: 23px;
    text-decoration: underline;
}


span a{
    color: #0062FE;
    text-decoration: underline;
}

/*Regole bottone*/

button{
    border: 0px;
    cursor: pointer;
    font-size: 12px;
    padding: 8px 15px;
    color: white;
    background-color: #0063FE;
}

.button_nocolor{
    border: 1px solid black;
    margin-top: 20px;
    color: black;
    background-color: white;
}

.contenuto_abbonamento button{
    align-self: center;
    align-content: center;
    padding: 9px 5px;
    margin: 70px 0px 50px 10px; 
    width: 90%;
}


/* Regole liste*/

ul{
    list-style-type: none;
}

    /*Liste tabelle main*/

.utente_div li:first-child::before{
    padding-right: 3px;
    content: "\f183";
    font-family: FontAwesome;
}

.utente_div li::before{
    padding-right: 3px;
    content: "\e185";
    font-family: FontAwesome;
}

.utente_div li:last-child:before{
    padding-right: 3px;
    content: "\f1e0";
    font-family: FontAwesome;
}

.utente_div li{
    display: flex;
    align-items: baseline;
    margin-top:25px;
}

.punti_salienti_abbonamento li{
    text-align:start;
    margin-top:20px;
}

.punti_salienti_abbonamento div ul li::before{
    padding-right: 5px;
    content: "\f00c";
    font-family: FontAwesome;
    color: #0062FE;
}

    /*Liste Footer*/

.list_footer li{
    margin-top: 15px;
}

/*Header*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0%;
    z-index: 900;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
}

.logo{
    margin-right: 20px;
}

.headersx{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-right: 10px;
    width: 100%;
    padding: 0px 20px;
}

.headerdx{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 20px;
}

/*Jumbo*/

.jumbo{
    background-color: #B4D0E7;
    height: 570px ;
}

.jumbo>.contenitore{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

    padding-top: 100px;
    width: 70%;
    /*DEBUG*/
    /*background-color: aquamarine;*/
}

.carddx{

    margin-top: 30px;
    align-self: center;
    width: 70%;
}
.cardsx{
        font-size: 14px;
    margin-top: 30px;
    width: 30%;
}

.cardsx>button{
    margin: 25px 0px
}

.img_proposta{
    align-items: end;
    width: 100%;
}

.arrow{
    font-size: 30px;
    margin-top:50px;
    font-weight: 700;
}

/*Main*/

main>.contenitore{
    display: block;
    margin-top: 200px;
    width: 60%;
    /*DEBUG*/
    /*background-color: rgb(110, 43, 204);*/
}

form{
    margin: 60px 0px 20px 0px;
}

label{
    margin-right: 40px;
}

/*Abbonamenti*/

.abbonamenti{
    display: flex;
    justify-content: space-between;

    /*DEBUG*/
    /*background-color: rgb(110, 43, 204);*/
}

.tabella_abbonamenti{
    display: flex;
    flex-direction: column;

    text-align: center;
    margin-top: 20px;
    border: 1px solid grey;
    width: 30%;

    /*DEBUG*/
    /*background-color: brown;*/
}

.tipo_abbonamento{
    border-bottom: 1px solid grey;
    padding: 10px;

    /*DEBUG*/
    /*background-color: rgb(51, 73, 175);*/
}

.contenuto_abbonamento{
    padding: 18px;
    text-align: left;

    /*DEBUG*/
    /*background-color: rgb(51, 175, 115);*/
}

.contenuto_abbonamento>span{
    margin-bottom: 10px;
    display: block;
}

.utente_div{
    font-size: 14PX;
    margin-top: 60px;
}

.contenitore_ht{
    display: flex;
    justify-content: space-between;

    height: 200px;
}

.contenitore_ht_sx{
    padding: 20px;
    width: 100%;

    /*DEBUG*/
    /*background-color: cadetblue;*/
}

.contenitore_ht_dx{
    
    padding-top: 30px;
    margin-left: 20px;
    width: 30%;

    /*DEBUG*/
    /*background-color: rgb(95, 160, 109);*/
}

.punti_salienti_abbonamento{
    padding: 20px;
    text-align: start;
}

.punti_salienti_abbonamento i{
    font-size: small;
    color: #0062FE;
 }

.punti_salienti_abbonamento div{
    margin-top: 40px;
}

/*Tabella Team*/

.contenitore_team{
    display: flex;
    flex-direction: column;

    margin-top: 80px;

    /*DEBUG*/
    /*background-color: blueviolet;*/
}

.contenitore_header_team{
    text-align: center;

    padding: 10px 0px;
}

/*Sezione immagine "entra in contatto con...*/

.contenitore_img_text{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 120px 0px;
}

.cardsx_entra img{
    width: 440px;
}

.carddx_entra{
    width: 34%;
}

.cardsx_entra{
    width: 60%;
}

/* Sezione griglia...*/

.row{
    display: flex;
    justify-content: space-between;

    margin-top:80px;
}

.col{
    width: 30%;

    /*DEBUG*/
    /*background-color: aqua;*/
    
}

.row img{
    max-width: 100%;
}

section a{
    color: #0062FE;
    text-decoration: underline;
}

/*Footer*/

footer{
    background-color: black;
}

footer>.contenitore{
    display: flex;

    width: 70%;
    height: 500px;

    /*DEBUG*/
    /*background-color: rgb(165, 26, 26);*/
}

.list_footer{
    padding-top: 60px;
    width: 20%;

    /*DEBUG*/
    /*border: 2px solid white;*/
}








