/*Genearli*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 55px;
}

.text_black{
    color: black;
}

.contenitore{
    /*Flex*/
    display: flex;

    width: 70%;
    margin: 0 auto;

    /*DEBUG*/
    height: 400px;
    /*background-color: brown;*/
}

button{
    padding: 8px 15px;
    color: white;
    background-color: #0063FE;

}

ul{
    list-style-type: none;
}

span{
    margin: 0px 20px;
}

/*Body*/

body{
    color: rgb(0, 0, 0);
    font-family: Open Sans; arial;
}

/*Header*/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    /*background-color: rgb(95, 42, 165);*/
}

.headersx{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0px 20px;
}

.headerdx{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 20px;
}


/*Jumbo*/

.jumbo{
    background-color: #B4D0E7;
    height: 540px ;
}

.jumbo>.contenitore{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

    padding-top: 60px;
    height: 700px;
    width: 70%;
    /*DEBUG*/
    /*background-color: aquamarine;*/
}

.carddx{
    margin-top: 50px;
    align-self: center;
    width: 70%;
}
.contenitore>.cardsx{
    margin-top: 50px;
    width: 30%;
}

.cardsx>button{
    margin: 30px 0px
}

.img_proposta{
    align-items: end;
    width: 100%;
}

.arrow{
    font-size: 30px;
    margin-top:40px;
    font-weight: 700;
}

/*Main*/

main>.contenitore{
    /*DEBUG*/
    height: 1600px;
    background-color: rgb(110, 43, 204);
}

/*Footer*/

footer{
    background-color: black;
}

footer>.contenitore{
    display: flex;

    width: 80%;
    height: 400px;sss
    background-color: rgb(165, 26, 26);
}

.list_footer{
    width: 20%;
    /*DEBUG*/
    border: 2px solid white;
}

